################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenWallet.slnx/v18/.suo
/.vs/OpenWallet.slnx/FileContentIndex/fbf8c4ae-cb84-4ee7-892b-59926f9386c1.vsidx
