<div class="modal fade" id="otpModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content wallet-modal">
            <div class="modal-header"><h5 class="modal-title">OTP verification</h5><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
            <div class="modal-body">
                <label class="form-label">Enter the 6 digit code</label>
                <input class="form-control otp-input" inputmode="numeric" maxlength="6" placeholder="000000" />
            </div>
            <div class="modal-footer"><button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button><button class="btn btn-primary">Verify</button></div>
        </div>
    </div>
</div>
